otus_80
otus_81
otus_82
otus_83
otus_84
otus_85
otus_86
otus_87
otus_88
otus_89
otus_90
otus_91
otus_92
otus_93
otus_94
otus_95
otus_96
otus_97
otus_98
otus_99
otus_100
siphonaptera_species_Underclustered.csv
siphonaptera_species_Overclustered.csv
test_Uclust.pdf
test_Oclust.pdf
test_bothClust.pdf
test_summateClust.pdf
test_formulaClust.pdf
bestSpeciesSim.txt
